@import "tailwindcss";
#root {
  text-align: center;
}
h1{
  font-size: 100px;
}
h2{
  font-size: 30px;
  max-width: 400px;
}
img{
  max-width: 400px;
}
.resumo{
  max-width: 400px;
  text-align: justify;
  font-size: 1rem;

}
.texto{
  max-width: 1400px;
  text-align: justify;
}
.titulo-janela{
  max-width: 200px;
  text-align: center;
  font-size: 1.7rem;
}
